/.env.example @amitkparekh @aleSuglia
/.env.simbot @amitkparekh
/.flake8 @amitkparekh
/.github/ @amitkparekh
/.gitignore @amitkparekh
/.kodiak.toml @amitkparekh
/.mypy.ini @amitkparekh
/.pre-commit-config.yaml @amitkparekh
/.python-version @amitkparekh
/.releaserc.js @amitkparekh
/.vscode/ @aleSuglia
/CHANGELOG.md @amitkparekh
/docker/ @amitkparekh
/docker/teach-inference.Dockerfile @aleSuglia
/poetry.lock @amitkparekh
/pyproject.toml @amitkparekh
/README.md @amitkparekh
/scripts/ @aleSuglia
/src/emma_experience_hub/__main__.py @aleSuglia
/src/emma_experience_hub/* @amitkparekh
/src/emma_experience_hub/api/* @amitkparekh
/src/emma_experience_hub/api/clients/__init__.py @amitkparekh
/src/emma_experience_hub/api/clients/client.py @aleSuglia
/src/emma_experience_hub/api/clients/dynamo_db.py @aleSuglia
/src/emma_experience_hub/api/clients/emma_policy.py @amitkparekh
/src/emma_experience_hub/api/clients/feature_extractor.py @amitkparekh
/src/emma_experience_hub/api/clients/out_of_domain_detector.py @amitkparekh
/src/emma_experience_hub/api/clients/profanity_filter.py @amitkparekh
/src/emma_experience_hub/api/clients/pydantic.py @amitkparekh
/src/emma_experience_hub/api/clients/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/api/clients/simbot/cache.py @amitkparekh
/src/emma_experience_hub/api/clients/simbot/placeholder_vision.py @amitkparekh
/src/emma_experience_hub/api/clients/simbot/session_db.py @amitkparekh
/src/emma_experience_hub/api/clients/utterance_generator.py @amitkparekh
/src/emma_experience_hub/api/controllers/ @amitkparekh
/src/emma_experience_hub/api/state/__init__.py @aleSuglia
/src/emma_experience_hub/api/state/simbot.py @amitkparekh
/src/emma_experience_hub/commands/build_emma.py @aleSuglia @amitkparekh
/src/emma_experience_hub/commands/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/commands/simbot/cli.py @amitkparekh
/src/emma_experience_hub/commands/teach/ @amitkparekh
/src/emma_experience_hub/commands/teach/__init__.py @aleSuglia
/src/emma_experience_hub/commands/teach/api.py @aleSuglia
/src/emma_experience_hub/commands/teach/cli.py @MalvinaNikandrou
/src/emma_experience_hub/commands/teach/constants.py @aleSuglia
/src/emma_experience_hub/commands/teach/dataset.py @MalvinaNikandrou
/src/emma_experience_hub/commands/teach/download.py @aleSuglia
/src/emma_experience_hub/commands/teach/inference.py @aleSuglia
/src/emma_experience_hub/commands/teach/metrics.py @aleSuglia
/src/emma_experience_hub/commands/teach/xserver.py @aleSuglia
/src/emma_experience_hub/common/ @amitkparekh
/src/emma_experience_hub/common/docker.py @aleSuglia
/src/emma_experience_hub/common/torch.py @aleSuglia
/src/emma_experience_hub/constants/__init__.py @aleSuglia
/src/emma_experience_hub/constants/alexa.py @amitkparekh
/src/emma_experience_hub/constants/model.py @amitkparekh
/src/emma_experience_hub/constants/simbot.py @aleSuglia
/src/emma_experience_hub/constants/simbot/ @aleSuglia
/src/emma_experience_hub/datamodels/* @amitkparekh
/src/emma_experience_hub/datamodels/simbot/* @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/__init__.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/auxiliary_metadata.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/dialog.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/navigation.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/object_interaction.py @amitkparekh
/src/emma_experience_hub/datamodels/simbot/payloads/payload.py @aleSuglia
/src/emma_experience_hub/datamodels/simbot/payloads/speech_recognition.py @amitkparekh
/src/emma_experience_hub/entrypoints/ @amitkparekh @aleSuglia
/src/emma_experience_hub/parsers/* @aleSuglia
/src/emma_experience_hub/parsers/simbot/ @amitkparekh
/src/emma_experience_hub/parsers/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/parsers/simbot/action_predictor_output.py @aleSuglia
/src/emma_experience_hub/pipelines/* @amitkparekh
/src/emma_experience_hub/pipelines/simbot/__init__.py @aleSuglia
/src/emma_experience_hub/pipelines/simbot/nlu.py @amitkparekh
/src/emma_experience_hub/pipelines/simbot/request_processing.py @amitkparekh
/src/emma_experience_hub/pipelines/simbot/response_generator.py @amitkparekh
/storage/fixtures/simbot/* @aleSuglia
/storage/fixtures/simbot/features/ @amitkparekh
/storage/fixtures/simbot/game_metadata/* @amitkparekh
/storage/fixtures/simbot/game_metadata/amzn1.echo-api.session.1f12bb8c-20eb-4a09-be31-b752f80235d8_3/ @aleSuglia
/storage/registry/ @amitkparekh
/tests/* @amitkparekh
/tests/clients/ @aleSuglia
/tests/datamodels/ @amitkparekh
/tests/datamodels/test_simbot_session.py @aleSuglia
/tests/fixtures/clients.py @aleSuglia
/tests/fixtures/paths.py @amitkparekh
/tests/fixtures/simbot_api_requests.py @amitkparekh
/tests/fixtures/simbot_arena_constants.py @amitkparekh
/tests/fixtures/simbot_paths.py @amitkparekh
/tests/parsers/test_simbot_action_parser.py @amitkparekh
/tests/parsers/test_simbot_low_asr_confidence_detector.py @amitkparekh
/tests/parsers/test_simbot_nlu_parser.py @aleSuglia
